@model DataObjects.Models.CreditInfo
@using Helpers

<div style="padding:5px; border:1px solid gray;margin-top:20px;">
    <table class="form-entry">
        <tr>
            <td>
                <label style="font-size:18px; font-weight:bold; color:green;">Subject:</label>
            </td>
            <td style="padding-left:10px;">
                <label style="font-size:16px;">@Model.Subject</label>
            </td>
        </tr>
        <tr>
            <td>             
            </td>
            <td style="padding-left:10px;">
                <label style="font-size:14px;">@Model.SubjectDetails</label>
            </td>
        </tr>
    </table>
</div>
<br />
<fieldset>
        <legend>Proposal Summary</legend>
        <table class="form-entry">
        <tr style="display:none;">
            <td>
                Id:
            </td>
            <td>
                <label id="lblCreditInfoId">@Model.CreditInfoId</label>
            </td>
        </tr>        
        <tr>
            <td>
                Branch:
            </td>
            <td>
                <label id="lblBranch">@Model.Branch.Name</label>
            </td>
        </tr>        
            <tr>
            <td>
                Borrower Name:
            </td>
            <td>
                <label>@Model.BorrowerName</label>
            </td>
        </tr>
            <tr>
            <td>
                Proposed Facility:
            </td>
            <td>
                <label>@Model.ProposedFacility</label>
            </td>
        </tr>
            <tr>
            <td>
                Branch Proposal Ref:
            </td>
            <td>
                <label>@Model.BranchRef</label>
            </td>
        </tr>
            <tr>
            <td>
                Application Date:
            </td>
            <td>
                <label>@Model.ApplicationDate</label>
            </td>
        </tr>
            <tr>
            <td>
                Branch Proposal Date:
            </td>
            <td>
                <label>@Model.BranchProposalDate</label>
            </td>
        </tr>
    </table>
</fieldset>

<fieldset>
        <legend>Particulars of Client</legend>
        <table class="form-entry">
            <tr>
                <td>
                    Name of Client:
                </td>
                <td>
                    <label >@Model.Client.Name</label>
                </td>
            </tr>
            <tr>
                <td>
                    Register Address:
                </td>
                <td>
                    <label >@Model.Client.Address</label>
                </td>
            </tr>
            <tr>
                <td>
                    Corporate Address:
                </td>
                <td>
                    <label >@Model.Client.CorporateAddress</label>
                </td>
            </tr>
            <tr>
                <td>
                    Factory Address:
                </td>
                <td>
                    <label >@Model.Client.FactoryAddress</label>
                </td>
            </tr>
            <tr>
                <td>
                    Nature of Business:
                </td>
                <td>
                    <label >@Model.Client.BusinessNature</label>
                </td>
            </tr>
            <tr>
                <td>
                    Date of Incorporation:
                </td>
                <td>
                    <label >@Model.Client.IncorporationDate</label>
                </td>
            </tr>
            <tr>
                <td>
                    Products:
                </td>
                <td>
                    <label >@Model.Client.Products</label>
                </td>
            </tr>
            <tr>
                <td>
                    Authorized Capital:
                </td>
                <td>
                    <label >@Model.Client.AuthorizedCapital</label>
                </td>
            </tr>
            <tr>
                <td>
                    Paid up Capital:
                </td>
                <td>
                    <label >@Model.Client.PaidupCapital</label>
                </td>
            </tr>
        </table>
    </fieldset> 

<fieldset>
        <legend>Attach File</legend>  
        <table id="fileList">
                <thead>
                    <tr>
                        <th style="text-align:left;">Title</th>
                        <th style="text-align:left;">File Path</th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CreditFiles)
                {
                    <tr>
                        <td><a title="download" href="@item.FilePath" target="_blank">@item.Title</a></td>
                        <td>@MvcHtmlString.Create(@item.FilePath)</td>                        
                    </tr>
                }
            </tbody>
        </table>
</fieldset>

<fieldset>
    <legend>Review History</legend>  
    <table id="reviewHistory">
                <thead>
        <tr>
            <th style="text-align:left;">Assign From</th>
            <th style="text-align:left;">Assign To</th>
            <th style="text-align:left;">Date</th>
            <th style="text-align:left;">Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CreditFlows)
        {
            <tr>
                <td>@MvcHtmlString.Create(@item.User.Name.Prep())</td>
                <td>@MvcHtmlString.Create(@item.User1.Name.Prep())</td>
                <td>@MvcHtmlString.Create(@item.ActionTime.ToString())</td>
                <td>@MvcHtmlString.Create(@item.Comment)</td>
            </tr>
        }
    </tbody>
    </table>
</fieldset>