@model IEnumerable<DataObjects.Models.CreditFlow>
@using Helpers
<table class="listTable" id="recordList">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Client</th>
                <th>Assign From</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Date</th>                                
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Credit/CreditDetails?creditId=@item.CreditInfoId">@item.CreditInfo.Subject</a>
                </td>                
                <td>@MvcHtmlString.Create(@item.CreditInfo.Client.Name.Prep())</td>
                <td>@MvcHtmlString.Create(@item.User.Name)</td>
                @if (item.CreditInfo.Status == 1) 
                {
                    <td class="pending">Pending</td>                    
                } 
                else 
                {
                    <td class="draft">Draft</td>
                }
                <td>@MvcHtmlString.Create(@item.Comment)</td>
                <td>@MvcHtmlString.Create(@item.ActionTime.ToString())</td>                
            </tr>
        }
    </tbody>
</table>
