@{
    ViewBag.Title = "AddCredit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indicator"></div>
<div style="display:none;" id="loggedInUserId">@ViewBag.LoggedInUserId</div>
<div class="panel">

    <div id="tabs">
      <ul>
        <li><a href="#tab-1"><span>Credit Proposal</span></a></li>
        <li><a href="#tab-2"><span>Relationship Summary</span></a></li>
        <li><a href="#tab-3"><span>Facility Details</span></a></li>
        <li><a href="#tab-4"><span>CIB Status</span></a></li>
        <li><a href="#tab-5"><span>Credit Risk Grading</span></a></li>
        <li><a href="#tab-6"><span>Audit Objection</span></a></li>
      </ul>
        <div id="tab-1"> 
            <table class="form-entry">
                <tr style="display: none;">
                    <td>Id:</td>
                    <td>
                        <input id="txtId" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Branch:
                    </td>
                    <td>
                        <select id="ddlBranch">
                            <option value="0">Select a branch</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Client:
                    </td>
                    <td>
                        <select id="ddlClient" size="5" style="width:186px;">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject:
                    </td>
                    <td>
                        <input id="txtSubject" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Details:
                    </td>
                    <td>
                        <input id="txtDetails" rows="4" cols="20" type="text" />
                    </td>
                </tr>            
            </table>            
        </div>
        <div id="tab-2"> 
            <table class="form-entry">
                <tr>
                    <td>
                        Nature of Facility:
                    </td>
                    <td>
                        <select id="ddlNatureOfFacility">
                            <option value="Composite Limit">Composite Limit</option>
                            <option value="Enhancement of Composite Limit">Enhancement of Composite Limit</option>
                            <option value="Renewal of Composite Limit">Renewal of Composite Limit</option>
                            <option value="Renewal with enhancement">Renewal with enhancement</option>                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Sanction Date:
                    </td>
                    <td>
                        <input type="text" id="dpSanctionDate">
                    </td>
                </tr>
                <tr>
                    <td>
                        Funded Limit:
                    </td>
                    <td>
                        <input id="txtFundedLimit" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Non Funded Limit:
                    </td>
                    <td>
                        <input id="txtNonFundedLimit" type="text" />
                    </td>
                </tr>   
                <tr>
                    <td>
                        Expiry Date:
                    </td>
                    <td>
                        <input id="dpExpiryDate" type="text" />
                    </td>
                </tr>  
                <tr>
                    <td>
                        Reschedule Time:
                    </td>
                    <td>
                        <input id="txtRescheduleTime" type="text" />
                    </td>
                </tr> 
                <tr>
                    <td>
                        Reschedule Amount:
                    </td>
                    <td>
                        <input id="txtRescheduleAmount" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Approval Authority:
                    </td>
                    <td>
                        <input id="txtApprovalAuthority" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <input id="btnRelationshipSummary" name="submit" type="submit"  value="Add Relationship Summary" class="fg-button ui-state-default"/>
                    </td>                    
                </tr>
                      
            </table>
            <br />
            <div class="relationshipSummaryList"></div>
            <div style="clear:both;"></div>
        </div>
        <div id="tab-3"> 
            <h2>Tab3</h2>       
        </div>
        <div id="tab-4"> 
            <h2>Tab4</h2>       
        </div>
        <div id="tab-5"> 
            <h2>Tab5</h2>       
        </div>
        <div id="tab-6"> 
            <h2>Tab6</h2>       
        </div>        
    </div>
<br />    
    <fieldset>
        <legend>Save Type</legend>
        <table>
            <tr>
                <td>
                    Save as:
                </td>
                <td>
                    <input id="rbDraft" type="radio" name="saveStatus" checked="checked" value="0">Draft&nbsp;
                    <input id="rbPending" type="radio" name="saveStatus" value="1">Sent to review
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr id="trAssignUser" style="display:none;">
                <td>Sent to:</td>
                <td>
                    <select id="ddlAssignUser"></select>
                </td>
            </tr>
        </table>        
    </fieldset>
</div>
<div>
    <table>
        <tr>
            <td>
                <input name="submit" type="submit"  value="Save Credit" class="create-credit-button fg-button ui-state-default"/>
            </td>
            <td>
                <div id="message"></div>
            </td>
        </tr>
    </table>    
</div>

<script type="text/javascript">

    $(document).ready(function () {

        // Initialize tabs
        $("#tabs").tabs();

        // Initialize date picker
        $("#dpSanctionDate").datepicker();
        $("#dpExpiryDate").datepicker();

        // Load groups
        PopulateBranchList();

        BindUserList();

        // Status
        $('input:radio[name="saveStatus"]').change(
            function () {
                if ($(this).is(':checked') && $(this).val() == '1') {
                    $('#trAssignUser').show().css('padding-top', '10px');
                }
                else {
                    $('#trAssignUser').hide();
                }
            });

        // Create company
        $(".create-credit-button").click(function (e) {
            e.preventDefault();

            var key = $("#txtId").val();
            var id = key ? key : 0;
            var branchId = $("#ddlBranch").val();
            var clientId = $("#ddlClient").val();
            var loggedInUserId = $('#loggedInUserId').html();
            var status = $('input:radio[name="saveStatus"]').val();
            var assignUserId = (status === "0") ? loggedInUserId : $("#ddlAssignUser").val();
            var subject = $("#txtSubject").val();            
            
            // Prepare the department object
            var creditInfo = { CreditInfoId: id, Subject: subject, BranchId: branchId, ClientId: clientId, CreatedUserId: loggedInUserId, AssignUserId: assignUserId, Status: status };
            
            // Show loader
            showActionLoader(true, 'Saving Credit Information');

            // Ajax call
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveCreditInfo", "Credit")",
                data: creditInfo,                
                cache: false,
                dataType: "json",
                success: function (data) {

                    // Hide loader
                    showActionLoader(false);

                    // Clear data
                    clearData();

                    // Show message
                    $('#message').html('Credit proposal has been created successfully!').addClass('success-message').show();
                    setTimeout(function () {
                        $('#message').html('').removeClass('success-message').hide();
                    }, 5000);
                        
                },
                Error: function () {
                    showError("Error to execute ajax call");
                }
            });
        });

        $('#ddlBranch').change(function () {
            
            var branchId = $('#ddlBranch').val();
            PopulateClientList(branchId);
        });

        // Edit company
        $('.view-details').live("click", function (el, ev) {

            el.preventDefault();
            var id = $(this).attr('id');
            
            window.location = '/Credit/CreditDetails/' + id;
        });

        // Edit company
        $('.edit').live("click", function (el, ev) {
            el.preventDefault();
            var id = $(this).attr('id').replace('edit-', '');

            BindEmployee(id);            
        });

        // Delete company
        $('.delete').live("click", function (el, ev) {
            el.preventDefault();
            var id = $(this).attr('id').replace('delete-', '');
            
            DeleteEmployee(id);
        });

        // Clear data
        $('.clear-button').click(function (el, ev) {            
            clearData();
        });
    });

    function PopulateBranchList() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetBranchList", "Credit")",                
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        var option = new Option(item.value, item.key);
                        $('#ddlBranch').append(option);
                    });
                },
                error: function (xhr, status, error) {
                    showError("Error to execute ajax call");
                }
        });
    }

    function PopulateClientList(branchId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetClientList", "Credit")",
            cache: false,
            dataType: "json",
            data: { branchId: branchId },            
            success: function (data) {
                $('#ddlClient').empty();
                $.each(data, function (i, item) {
                    var option = new Option(item.value, item.key);
                    $('#ddlClient').append(option);
                });
            },
            error: function (xhr, status, error) {
                showError("Error to execute ajax call");
            }
        });
    }    

    function BindUserList() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUserList", "User")",
            cache: false,
            dataType: "json",            
            success: function (data) {
                $.each(data, function (i, item) {
                    var option = new Option(item.value, item.key);
                    $('#ddlAssignUser').append(option);
                });
            },
            error: function (xhr, status, error) {
                showError("Error to execute ajax call");
            }
        });
    }

    function BindEmployeeTypeList() {

        // Ajax call
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetEmployeeTypeList", "Employee")",
            cache: false,
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    var option = new Option(item.Name, item.EmployeeTypeId);
                    $('#ddlEmployeeType').append(option);
                });                
            },
            error: function (error) {
                showError("Error to execute ajax call");
            }
        });
    }//end loadCompany

    function BindEmployee(id) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetEmployee", "Employee")",
            cache: false,
            dataType: "json",
            data: {id: id},
            success: function (data) {                
                txtId.value = data.EmployeeId;
                txtName.value = data.Name;
                ddlEmployeeType.value = data.EmployeeTypeId;
                ckbOT.checked = data.IsOTApplicable;
            },
            error: function () {
                showError("Error to execute ajax call");
            }
        });
    }

    function DeleteEmployee(id) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteEmployee", "Employee")",
            cache: false,
            dataType: "json",
            data: { id: id },
            success: function (data) {

                BindRecordList();
            },
            error: function () {
                showError("Error to execute ajax call");
            }
        });
    }

    function clearData() {
        $("#txtId").val('');
        $("#txtInfo").val('');
        $("#ddlClient").empty();               
    }

</script>